<div class="container">
    <h1 class="new">Create a <span class="logo-font">PetMinder</span> Account</h1>
    <br />
    <form action="/users" method="POST">
        <fieldset>
            <legend><h2 class="legend">User Information</h2></legend>
                <label for="users[name]">Name: </label><br />
                <input type="text" name="users[name]" required><br />
                <label for="users[phone]">Telephone Number: </label><br />
                <input type="tel" name="users[phone]"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br />
                <label for="users[email]">Email: </label><br />
                <input type="email" name="users[email]" required><br />
                <br />
        </fieldset>
        <br />
        <input type="reset" value="Clear Form">
        <input type="submit" value="Sign Up">
    </form>
</div>