<div class="container">
    <header>
        <h1 class="logo logo-font">PetMinder</h1>
    </header>
    <div class="col-md-8 col-md-offset-2">
    
        <img class="logo-img" src="/images/pet-hotel.png">
        <br /><br />
        <p class="center">
            <h1 class="center">We're sad to see you go.</h1>
            <h3 class="center">Please feel free to reach out to us to let us know how we can improve.</h3>
        </p>
        <h1 class="center">
            <a href="mailto:someone@yoursite.com?subject=Suggestions%20On%20Improvements&body=Body-goes-here" target="_blank">Email <span class="logo logo-font">PetMinder</span></a>
        </h1>
    </div>
</div>
