<div class="container">
    <header>
        <h1 class="logo logo-font">PetMinder</h1>
    </header>
    <div class="col-md-8 col-md-offset-2">
    
        <img class="logo-img" src="/images/pet-hotel.png">
        <br /><br />
        <p class="center">
            <h3 class="center">Uh oh! We've run into <%= @error.count %>
                <% if @error.count == 1 %>
                error!
                <% else %>
                errors!
                <% end %>
                </h3>
            <ul>
            <% @error.each do |msg|%>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </p>
        <br /><br /><br /><br />
        <h3 class="center">
            Please use your browser's back button to try again.
        </h3>

    </div>
</div>
