<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>PetMinder</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main2.css" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper-parent">
    <% if flash[:notice] %>
        <div class="flash-alerts"><%= flash[:notice] %></div>
    <% end %>
      <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <% if !logged_in? %>
        <a href="/users/new">Sign Up</a>
        <a href="/login">Log In</a>
        <% else %>
        <a href="/search">Search</a>
        <a href="/logout">Log Out</a>
        <% end %>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="wrapper-child">
        <div class="wrapper-child-child">    

        <%= yield %>
        
        </div>
        <footer class="branding">
          <small>&copy; 2019 <strong>PetMinder</strong></small>
          <div class="attributions">
            Icons made by <a class="attr" href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> & <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon">Flaticon</a>
          </div>
          <p class="center"><a class="feedback-button" href="mailto:feedback@thesaramccombs.com?Subject=PetMinder%20Feedback" target="_blank">Send Feedback</a></p>
        </footer>
      </div>
    </div>

    <script>
      function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
  </body>
</html>
