<div class="container">
    <header>
    <h1 class="logo logo-font">PetMinder</h1>
    </header>
    <div class="col-md-8 col-md-offset-2">
    
        <img class="logo-img" src="/images/pet-hotel.png">
        
        <div class="welcome">
        
            <form method="POST" action="/login">
                <p>
                    <label for="username">Username:</label>
                    <input type="text" name="username">
                </p>
                <p>
                    <label for="password">Password:</label>
                    <input type="password" name="password">
                </p>
                <p>
                    <input type="submit" value="submit">
                </p>
            </form>
        </div>

    </div>
</div>