<h3>Search Results:</h3>
<p><a href=><%= @results.name %></a></p>
<br />
<h3>Didn't Find What You Were Looking for?</h3>
<p><a class="pm-button" href="/users">All Pet Owners</a></p>
<p><a class="pm-button" href="/pets">All Pets</a></p>