<h1 class="logo logo-font">PetMinder</h1>
<img class="logo-img" src="/images/pet-hotel.png">
<div class="center">
    <br /><br />
    <p>Search by name: </p>
    <br />
    <p>Browse:</p>
    <p><a class="pm-button" href="/users">All Pet Owners</a></p>
    <p><a class="pm-button" href="/pets">All Pets</a></p>
</div>
