<div class="container">
  <header>
    <h1 class="logo logo-font">PetMinder</h1>
  </header>
  <div class="col-md-8 col-md-offset-2">
  
    <img class="logo-img" src="/images/pet-hotel.png">
    
    <div class="welcome">
    
      <% if logged_in? %>
        <p>What would you like to do today?</p>
          <p><a href="/pets/new">Add a new pet</a></p>
          <p><a href="/users/<%= @user.id %>">List current pets</a></p>
          <p><a href="/users/<%= @user.id %>/edit">Edit your account</a></p>
      <% else %>
        <p>Welcome to <span class="logo-font">PetMinder</span>, the app that keeps track of all your pets' care instructions.</p>
        <p><a class="pm-button" href="/login">Log In</a>
        <h6>To demo PetMinder, please login with username and password of "demo"</h6>
      <% end %>
    </div>
  </div>
</div>
