<div class="container">
  <header>
    <h1 class="logo logo-font">PetMinder</h1>
  </header>
  <div class="col-md-8 col-md-offset-2">
  
    <img class="logo-img" src="/images/pet-hotel.png">
    
    <div class="welcome">
      <p>Welcome to <span class="logo-font">PetMinder</span>, the app that keeps track of all your pets' care instructions.</p>
      <p><a class="pm-button" href="/users/new">Sign Up</a> &nbsp <a class="pm-button" href="/users/login">Log In</a>
    </div>
  </div>
</div>
